$backgroundColor : #1f2d41;

@mixin divider ($dividerColor, $dividerBackgroundColor){
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .dividerLine{
        width: 100%;
        max-width: 7rem;
        height: 0.25rem;
        background-color: $dividerColor;
        border-radius: 1rem;
        border-color:$dividerBackgroundColor !important;
    }
}
.header {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
    background-color: $backgroundColor !important;
    color: #FFFFFF !important;
    text-align: center !important;
    .header__container {
        min-width: 992px !important;
        display: flex !important;
        align-items: center !important;
        flex-direction: column !important;
        .header__container__img {
            width: 15rem;
            margin-bottom: 3rem !important;
        }
        .header__container__h1 {
            font-size: 4rem;
            line-height: 4rem;
            margin-bottom: 0 !important;
        }
        .header__container__divider{
            @include divider(#FFFFFF, #000000);
        }
        .header__container__shortIntroduce {
            white-space: pre-wrap;
            font-size: 1.25rem;
            font-weight: 300 !important;
            margin-bottom: 0 !important;
        }
    }
    
}
.portfolio {
    padding: 6rem 0;
    font-size: 1rem;
    line-height: 2rem;
    color: #00cfd5;
    .portfolio__container{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        .portfolio__container__text-center{
            text-align: center !important;
            .portfolio__container__text-center__h2{
                font-size: 2.25rem;
                line-height: 2rem;
                color: #00cfd5 !important;
                margin-bottom: 0 !important;
                display: inline-block !important;
            }
        }
        .portfolio__container__divider{
            @include divider(#00cfd5, #000000);
        }
    }
}

.about {
    padding: 6rem 0;
    background-color: $backgroundColor !important;
    color: #fff !important;
    margin-bottom: 0 !important;
    .about__container {
        min-width: 992px !important;
        .about__container__text-center {
            text-align: center !important;
            .about__container__text-center__h2 {
                font-size: 2.25rem;
                line-height: 2rem;
                display: inline-block !important;
                color: #fff !important;
            }
        }
        .about__container__divider{
            @include divider(#FFFFFF, #000000);
        }
        .about__container__row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -1.5rem;
            margin-left: -1.5rem;
            .about__container__row__col-lg-4{
                position: relative;
                width: 100%;
                padding-right: 1.5rem;
                padding-left: 1.5rem;
                flex: 0 0 33.3333333333%;
                max-width: 33.3333333333%;
                .about__container__row__col-lg-4__longIntroduce{
                    white-space: pre-wrap;
                    font-size: 1.25rem;
                    font-weight: 300;
                }
            }
            .about__container__row__ml-auto{
                margin-left: auto !important;
            }
            .about__container__row__mr-auto{
                margin-right: auto !important;
            }
        }
        
    }
}
.contact{
    padding: 6rem 0;
    .contact__container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        
        .contact__container__text-center {
            text-align: center !important;
            .contact__container__text-center__h2 {
                font-size: 2.25rem;
                line-height: 2rem;
                display: inline-block !important;
                color: #00cfd5 !important;
            }
        }
        .contact__container__divider{
            @include divider(#00cfd5, #FFFFFF);
            color: #00cfd5 !important;
        }
        .contact__container__row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -1.5rem;
            margin-left: -1.5rem;
            justify-content: center !important;

            .contact__container__row__col-lg-4{
                position: relative;
                width: 100%;
                padding-right: 1.5rem;
                padding-left: 1.5rem;
                flex: 0 0 33.3333333333%;
                max-width: 33.3333333333%;
                .contact__container__row__col-lg-4__flex {
                    display: flex !important;
                    flex-direction: column !important;
                    align-items: center !important;
                    .contact__container__row__col-lg-4__flex__text-muted {
                        color: #6c757d !important;
                    }
                    .contact__container__row__col-lg-4__flex__lead {
                        font-size: 1.25rem;
                        font-weight: 700 !important;
                    }
                }
            }
        }
      }
}